[user]
	name = Manel Romero
	email = manel@manelromero.com
[pull]
  rebase = true
[rerere]
  enabled = true
[core]
  excludesfile = /Users/manel.romero/.gitignore_global
  ignorecase = false
	attributesfile = /Users/manel.romero/.gitattributes
[alias]
  pushf = push --force-with-lease
